
    <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Imagenes/fotoperfil.jpg" 
         class="img-fluid"  id="fotodeperfil">
         <p id="nombre">Nahir Veiras</p>
         <p>Full Stack Developer Jr</p>
    </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy Ing. Agrónoma, realizo consultorías a diferentes productores agropecuarios en la zona rural de Misiones-Argentina. Actualmente, busco expandir mi área de conocimiento en el sector IT, con lo cual hice cursos de software Qgis y programación. Busco empleo en el sector tecnológico, para desarrollar las habilidades aprendidas en el curso de Argentina Programa.</p>
        </span>
    </div>
</div>
