<div class="row">
    <h1> Educación </h1>
    <div class="card-deck">
        <div class="card">
          <img src="../../../assets/Imagenes/APLogo.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Full Stack Developer Jr(2022-2023)</h5>
            <p class="card-text">Programa Nacional: Argentina programa 4.0. Ministerio de Economia de la Nación.    Argentina.</p>
          </div>
        <div class="card">
          <img src="../../../assets/Imagenes/ubalogo2.png" class="card-img-top" id="ubalogo2">
          <div class="card-body">
            <h5 class="card-title">Ingeniera Agrónoma UBA(2006-2016)</h5>
            <p class="card-text">Facultad de Agronomía UBA. Buenos Aires, Argentina.</p>
          </div>
        <div class="card">
          <img src="../../../assets/Imagenes/ubalogo2.png" class="card-img-top" id="ubalogo2">
          <div class="card-body">
            <h5 class="card-title">Técnica Para Bioterio UBA(2001-2005)</h5>
            <p class="card-text">Facultad de Farmacia y Bioquímica UBA-Facultad de Cs. Veterinarias UBA. Buenos Aires, Argentina.</p>
          </div>
         </div>
