<div class="row">
    <h1> Experiencia Laboral </h1>
<div class="card-deck">
        <div class="card">
          <img src="../../../assets/Imagenes/diseñoweblogo.png" class="card-img-top" id="diseñoweblogo">
          <div class="card-body">
            <h5 class="card-title">Full Stack Developer Jr(Presente)</h5>
            <p class="card-text">Creación de sitios web y aplicaciones web, de manera general, su diseño y programación de la interfaz gráfica del proyecto. También, el trabajo en torno a la arquitectura del sitio, manteniendo su funcionalidad, y el desarrollo del back-end, codificando su lógica y configuración.</p>
          </div>
          <div class="card">
            <img src="../../../assets/Imagenes/granjalogo1.png" class="card-img-top" id="granjalogo1">
            <div class="card-body">
              <h5 class="card-title">Consultora Agropecuaria(2017-Al Presente)</h5>
              <p class="card-text">Consultoría en producciones agropecuarias familiares en la zona rural de San Pedro. Realizando análisis de las instalaciones y sanidad de las producciones aviares y porcinas. Misiones-Argentina.</p>
            </div>
        <div class="card">
          <img src="../../../assets/Imagenes/docentelogo2.png" class="card-img-top" id="docentelogo2">
          <div class="card-body">
            <h5 class="card-title">Docente Modalidad Virtual(2021)</h5>
            <p class="card-text">Docente a cargo del curso "Asistente veterinario de pequeñas mascotas" para la localidad de San Pedro. Dictado online, a través de la plataforma virtual. Realizando las presentaciones online a través de videos y material didáctico. Instituto IFad. Misiones-Argentina.</p>
          </div>
        <div class="card">
          <img src="../../../assets/Imagenes/ubalogo2.png" class="card-img-top" id="ubalogo2">
          <div class="card-body">
            <h5 class="card-title">Técnica Para Bioterio UBA(2013-2017)</h5>
            <p class="card-text">Coordinadora del Área de Producción de ratones en el Bioterio Central de la Facultad de Cs Exactas y Naturales de la U.B.A. Realizando diferentes actividades como, producción de diferentes cepas de roedores, ensayos biológicos, anláisis estadístisticos. Buenos Aires, Argentina.</p>
          </div>
         
        </div>

</div>
